@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Mulish:wght@300&family=Roboto&family=Tajawal:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.App {
  padding: 0 130px 40px;
}
